<pm:html>
	<pm:head>
		<title>New Password</title>
	</pm:head>
	<pm:body>
		<h2>New Password</h2>
		<p>Enter a new password for your account.</p>
		<form method="post">
			<input type="hidden" name="userid" value="@{userid}@" />
			<input type="hidden" name="resetkey" value="@{resetkey}@" />
			<table class="fieldset">
				<tr>
					<td>User Name</td>
					<td><strong>@{username}@</strong></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input type="password" name="password2" /></td>
				</tr>
			</table>
			<input type="submit" name="btn" value="Submit" />
		</form>
	</pm:body>
</pm:html>
