<pm:html>
	<pm:head>
		<title>Reset Password</title>
	</pm:head>
	<pm:body>
		<h2>Reset Password</h2>
		<pm:if expr="reset_email_sent">
			<p>An email has been sent to your address.  Please follow the link in the message to reset your password.</p>
		</pm:if>
		<pm:else>
			<pm:if expr="reset_email_failed">
				<p><strong>An account with that email address does not exist.</strong></p>
			</pm:if>
			<pm:else>
				<p>Submit your email address to reset your password.</p>
			</pm:else>
			<form method="post">
				<label>Email: <input type="text" class="text" name="email" /></label>
				<input type="submit" name="btn" value="Submit" />
			</form>
		</pm:else>
	</pm:body>
</pm:html>
